h5 {
  text-align: left;
}

table {
  width: auto;
}

td,
th.mat-header-cell {
  padding: 7px;
  text-align: center;
  vertical-align: middle;
  width: 200px;
}

th p {
  text-align: center;
  margin: 0 auto;
}

button {
  margin: 16px 0;
  align-self: flex-start;
}

.mat-paginator {
  align-self: flex-end;
  margin-bottom: 16px;
  margin-right: -20px;
  height: 45px;
}

.flex-item {
  flex-grow: 200;
  position: relative;
}

.page-number {
  position: absolute;
  top: 28px;
  right: 15px;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.54);
  font-family: "Segoe UI", "Roboto", "Helvetica Neue", Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.t-header {
  width: 1000px;
  /* border: 1px solid red; */
  display: flex;
  /* justify-content: flex-end; */
}

::ng-deep snack-bar-container.sn-bar-container {
  margin-top: 120px;
}
