.top-panel {
  border-bottom: 1px solid #cccccc;
  height: 100px;
  display: flex;
  flex-direction: row-reverse;
}

.greeting {
  width: 300px;
  /* border: 1px solid red; */
  padding: 10px;
}

:host /deep/ .mat-list-item-content {
  padding-left: 0 !important;
  margin-left: -10px;
}
