<h3 class="text-center">Enter your credentials here</h3>
<div class="login-form">
  <form #loginForm="ngForm" (ngSubmit)="login(loginForm)">
    <p>
      <mat-form-field appearance="fill">
        <mat-label>Email</mat-label>
        <input matInput ngModel name="email" />
        <mat-hint>Hint</mat-hint>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field appearance="fill">
        <mat-label>Password</mat-label>
        <input matInput ngModel name="password" />
        <mat-hint>Hint</mat-hint>
      </mat-form-field>
    </p>
    <div class="buttons">
      <button mat-button>Login</button>
      <!-- <button class="regButton" routerLink="/register" mat-button>
        <span>Not registered?</span> - Register!
      </button> -->
    </div>
  </form>
</div>
