.login-form {
  width: 600px;
  height: 600px;
  /* border: 1px solid red; */
  padding: 10px 7px;
  margin: 10px auto;
  margin-top: 0;
}

.login-form > * {
  width: 100%;
}

h3 {
  margin-top: 10px;
  margin-bottom: 0;
}

.buttons {
  display: flex;
  justify-content: center;
}

mat-form-field {
  width: 100%;
}

.mat-form-field-subscript-wrapper {
  margin-top: 5px;
}
