<div class="rabbit-filter">
  <form [formGroup]="filterForm" (ngSubmit)="applyFilter($event)">
    <mat-form-field>
      <mat-label>Name</mat-label>
      <input matInput formControlName="name" />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Color</mat-label>
      <input matInput formControlName="color" />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Age</mat-label>
      <input matInput formControlName="age" />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Select delicacy</mat-label>
      <mat-select
        formControlName="delicacy"
        (selectionChange)="delicacyChange($event)"
        [(value)]="delicacySelected.value"
      >
        <mat-option *ngFor="let denum of delicacyData" [value]="denum.value">
          {{ denum.description }}</mat-option
        >
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Select priority</mat-label>
      <mat-select formArrayName="priority" [(value)]="prioritySelected.value">
        <mat-option *ngFor="let penum of priorityData" [value]="penum.value">
          {{ penum.description }}</mat-option
        >
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>CreateDate From</mat-label>
      <input
        matInput
        [matDatepicker]="pickercdfrom"
        formControlName="createDateFrom"
        placeholder="Choose a date"
      />
      <mat-datepicker-toggle
        matSuffix
        [for]="pickercdfrom"
      ></mat-datepicker-toggle>
      <mat-datepicker #pickercdfrom></mat-datepicker>
    </mat-form-field>

    <mat-form-field>
      <mat-label>CreateDate To</mat-label>
      <input
        matInput
        [matDatepicker]="pickercdto"
        formControlName="createDateTo"
        placeholder="Choose a date"
      />
      <mat-datepicker-toggle
        matSuffix
        [for]="pickercdto"
      ></mat-datepicker-toggle>
      <mat-datepicker #pickercdto></mat-datepicker>
    </mat-form-field>

    <mat-form-field>
      <mat-label>UpdateDate From</mat-label>
      <input
        matInput
        [matDatepicker]="pickerudfrom"
        formControlName="updateDateFrom"
        placeholder="Choose a date"
      />
      <mat-datepicker-toggle
        matSuffix
        [for]="pickerudfrom"
      ></mat-datepicker-toggle>
      <mat-datepicker #pickerudfrom></mat-datepicker>
    </mat-form-field>

    <mat-form-field>
      <mat-label>UpdateDate To</mat-label>
      <input
        matInput
        [matDatepicker]="pickerudto"
        formControlName="updateDateFrom"
        placeholder="Choose a date"
      />
      <mat-datepicker-toggle
        matSuffix
        [for]="pickerudto"
      ></mat-datepicker-toggle>
      <mat-datepicker #pickerudto></mat-datepicker>
    </mat-form-field>
    <div class="buttons">
      <button mat-button type="submit">
        Apply filter
      </button>
    </div>
  </form>
</div>
